.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  
}

.HomePage {
  z-index: 1;
  
}

.HomeTopBackground{
  background: #18181C linear-gradient(180deg, rgba(24, 24, 28, 0) 0%, #18181C 100%);
  padding-top: 85px;
  overflow: hidden;
  position: relative;
}


.Top{
    padding: 60px 24px;
    color: #fff;
    padding-bottom: 30px;
    position: relative;
    z-index: 5;
}

.Text{
  font-weight: 500;
  font-size: 61px;
  line-height: 75px;
  color:white;
}
.TextFullStop{
  color: #125EF6;
}

.TextDetails{
  margin: 16px 0 165px;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  max-width: 690px;
  color:white;
}

.TopCompanies{
  color: white;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}

.TopCompaniesLink{
  color: #fff;
  font-weight: 400;
}

.TopCompaniesList{
  align-items: center;
  margin-top: 24px;
  
}

.TopCompaniesName{
  padding:  10px;
}


.Middle{
  background: linear-gradient(180deg, #29292E 0%, #18181C 173.08%);
}


.MiddleBox {
  padding: 60px 24px;
  color: #fff;
}

.WhatText{

text-align: center;
  font-weight: 500;
  font-size: 27px;
  line-height: 38px;
  color: #fff;
}
.WhatTextDetail{
text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #D1D1D5;
  margin: 12px auto 0;
}
.WhatTextDoBox{
  margin-bottom: 40px;
  
}

.WhatTextDoHeading{
  font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin: 30px 0 10px;
}

.WhatTextDoDescription{
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #D1D1D5;
  height: 120px;
}
.LearnMoreDiv{
  padding-bottom: 100px;
}
.LearnMore {
  align-items: center;
 padding:0 10px 0 10px;
  display: flex;
  margin: auto;
  width: 250px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  height: auto;
  cursor: pointer;
  background-color: transparent;
  justify-content: space-around;
  color: #fff;
  border: 1px solid #fff;
  position: relative;
}

.LearnMore::after {
  content: "\2192"; /* Unicode arrow right character */
  padding-bottom: 10px;
  transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-size: 40px; /* Adjust the font-size as needed for medium size */
  transform: scaleX(1); /* Initial width scaling */
  transform-origin: 0 50%; /* Set the transform origin to the left side */
}

.LearnMore:hover::after {
  transform: scaleX(1.2); /* Increase width on hover */
}


.LearnMore:hover {
  background-color: #fff;
  color: #181B2B;
  border: 1px solid #fff;
}



.DiscoverBox {
    padding: 60px 24px;
    color: #181B2B;
    text-align: center;
    
}

.DiscoverImageBox{
  margin-top: auto;
  bottom: 0;
}

.DiscoverGoogleTittle{
  display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 24px 0 8px;
    color: #125EF6;
    
}



.googleBox {
  
  background-color: #F8F7F9;
  overflow: hidden; /* Ensure the overflow is hidden for the zoom effect */
  position: relative; /* Required for absolute positioning of the image */
  transition: background-color 0.5s ease; /* Transition for background color change */
  margin: 10px!important; 
  height: 550px;
}
.googleBox:hover {
  background-color: #cbe1e9;
}

.googleBoxTop{
  padding: 32px 32px 16px;
  position: relative;
}

@media (max-width: 767px) {
  .googleBox {
    display: none;
  }
}

@media (min-width: 768px) {
  .googleBox {
    display: block !important;
  }
}



.HealthBox {
  
  background-color: #F8F7F9;
  overflow: hidden; /* Ensure the overflow is hidden for the zoom effect */
  position: relative; /* Required for absolute positioning of the image */
  transition: background-color 0.5s ease; /* Transition for background color change */
  margin: 10px!important; 
  height: 550px;
  
}

.HealthBox:hover {
  background-color: #cbe1e9
}

.googleBoxTop{
  padding: 32px 32px 16px;
}


.googleDiscoverImage {
  width: 100%; /* Make sure the image takes 100% width of the container */
  position: absolute;
  bottom: 0;
  transform: scale(1.1); /* Initial scale is 1 */
  transition: transform 0.5s ease; /* Transition for image scale change */
 
}

.googleBox:hover .googleDiscoverImage {
  transform: scale(1.2); /* Scale the image on hover */
}
.HealthBox:hover .googleDiscoverImage {
  transform: scale(1.2); /* Scale the image on hover */
}

.DiscoverGoogleDisc {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #181B2B;
 
  
}
.DiscoverBoxSeeAll{
  padding:50px 0 100px 0;
}
.DiscoverBoxSeeAllText {
  align-items: center;
 padding:0 10px 0 10px;
  display: flex;
  margin: auto;
  width: 250px;
  font-size: 16px;
  font-weight: 500;
  color: #125EF6;
  height: auto;
  cursor: pointer;
  background-color: transparent;
  justify-content: space-around;
 
  border: 1px solid #125EF6;
  position: relative;
}

.DiscoverBoxSeeAllText::after {
  content: "\2192"; /* Unicode arrow right character */
  padding-bottom: 10px;
  transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-size: 40px; /* Adjust the font-size as needed for medium size */
  transform: scaleX(1); /* Initial width scaling */
  transform-origin: 0 50%; /* Set the transform origin to the left side */
}

.DiscoverBoxSeeAllText:hover::after {
  transform: scaleX(1.2); /* Increase width on hover */
}


.DiscoverBoxSeeAllText:hover {
  background-color: #dae3f5;
  color: #125EF6;
  border: 1px solid #0f4fce;
}
.caption{
width:100%;
min-height: 60vh;
color:black;


}
.captionText{
  max-width: 1000px;
  margin: auto;
  min-height: 60vh;
  align-items: center;
  
}
.captionName{
  color: #464955;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 16px;

}

.Dash{
padding-top:70px ;
color: #125EF6;
font-size: 50px;
font-weight: 800;
}

.CompanyReview{
  background: linear-gradient(180deg, #F8F7F9 0%, #FFFFFF 100%); 
}

.contactBackground{
  position: relative;
 
 
}
.contactText{
  position: relative;
  background-color:transparent ;
  align-items: flex-start;
  padding: 50px 21px ;
 

}
.contactTextDetails{
  color: #D1D1D5;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
}
.contactBackgroundImage{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: left center / cover no-repeat rgb(24, 24, 28);
}
.contactFormCol{
  background: #18181C;
}
.contactForm{
  margin: 0;
  padding: 20px;
 
}
.FormBox{
  margin: 10px 0 10px 0;
}

.FormInput{
  background-color:rgba(255, 255, 255, 0.06);
 
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  border-radius: 0;
  border:1px solid rgba(255, 255, 255, 0.06);
  transition: padding .3s ease;
  padding: 20px;
}
/* YourComponent.module.css or your global styles */
.FormInput::placeholder {
  color: #A3A4AA!important;
 
}

.randomBox{
  background-color: grey;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.Verify{
  display: flex;
  margin-top: 10px;
}

.FormButton{
  margin-top: 10px;
  background-color: #A0BFFC;
  border-radius: 0;
  border-color: #A0BFFC;
  font-weight: 500;
    font-size: 16px;
    color: white;
    width: 100%;
    padding: 20px ;
    justify-content: space-around;
}

.ButtonGoArrow{
  margin-left: 20px;
}

.insightBox{
  background-color: #F2EEF4;;

}

.insightHeading{
  padding: 100px 0 50px 0;
  text-align: center;
    font-weight: 500;
    font-size: 27px;
    line-height: 38px;
    color: #181B2B;


}

.insightCol{
 
  position: relative;
  min-height: 450px;
  
  
}

.insightImageDiv{
    
    position: relative;
    
  
}



.insightImage {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  background: none;
  opacity: 1;
  transform: scale(1); /* Adjust the initial scale for the zoom out effect */
  transition: transform 0.5s ease; /* Add a smooth transition for the zoom effect */
  z-index: 2;
}

.insightImage:hover {
  transform: scale(1.1); /* Return to the normal size on hover */
}


.insightText{
  position: absolute;
  bottom: 0;
  background-color: transparent;
  left: 0;
  padding: 10px;

}

.insightTittle{
  font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #125EF6;
    margin: 20px 0 4px;
    text-transform: uppercase;
  
}

.insightTextH4{
  font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #181B2B;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.insightTextP{
  font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #464955;
    margin: 12px 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.Feature{
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #464955;
  text-align: center;
  padding: 60px 0 50px 0;
  border-top:1px solid rgba(0, 0, 0, .1);
  
}

.FeatureLogos{
  padding-bottom: 50px;
}

@media screen and (min-width: 905px){
  .insightCol{
    position: relative;
    min-height: 500px;
    
    
  }
  .insightTextP{
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;
  }
  .insightTextH4{
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;
  }
  .insightHeading{
      font-size: 31px;
  }
  .contactText{
    padding: 100px 51px;
  }
  .contactTextDetails{
      font-weight: 300;
      font-size: 16px;
      line-height: 29px;
      max-width: 335px;
  
  }
  .contactForm{
    padding: 50px;
  }

  .captionName{
    
      font-size: 18px;
  }
 
  .MiddleBox{
    max-width: 1440px;
  margin: 0 auto;
  padding: 80px 100px;
  }
  .Top{
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 100px;
    padding-bottom: 40px;
    padding-top: 61px;
}
.WhatText{
  font-weight: 500;
  font-size: 31px;
  line-height: 44px;
}

.WhatTextDetail{
  font-weight: 300;
font-size: 16px;
line-height: 29px;
}
.WhatTextDoHeading{
  font-weight: 500;
  font-size: 21px;
  line-height: 29px;
  height: auto;
}

.DiscoverGoogleDisc {
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
}

}


@media screen and (min-width: 768px){
  .insightImageDiv{
   
      height: 113px;
  }
  

.MiddleBox{
  padding: 60px 36px;
}
.Top {
    padding: 60px 36px;
    padding-bottom: 60px;
    padding-top: 61px;
}
.WhatTextDetail{
  max-width: 540px;
}
}
.MotionImage1{
  background: rgba(255, 255, 255, 0.42);
  opacity: 0.07;
  width: 2101px;
  height: 2101px;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translate(34%, -78%);
  -moz-transform: translate(34%, -78%);
  -ms-transform: translate(34%, -78%);
  transform: translate(34%, -78%);
  -webkit-animation: animation-1nffvxq;
  animation: animation-1nffvxq;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  display: block;
}

@keyframes animation-1nffvxq {
  0% {
    -webkit-transform: translate(34%, -78%);
    -moz-transform: translate(34%, -78%);
    -ms-transform: translate(34%, -78%);
    transform: translate(34%, -78%);
  }
  50% {
    -webkit-transform: translate(-34%, -78%);
    -moz-transform: translate(-34%, -78%);
    -ms-transform: translate(-34%, -78%);
    transform: translate(-34%, -78%);
  }
  100% {
    -webkit-transform: translate(34%, -78%);
    -moz-transform: translate(34%, -78%);
    -ms-transform: translate(34%, -78%);
    transform: translate(34%, -78%);
  }
}

.MotionImage2{
  background: rgba(255, 255, 255, 0.42);
  opacity: 0.07;
  width: 2101px;
  height: 2101px;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translate(34%, -78%);
  -moz-transform: translate(34%, -78%);
  -ms-transform: translate(34%, -78%);
  transform: translate(34%, -78%);
  -webkit-animation: animation-1nffvxq;
  animation: animation-1nffvxq;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  display: block;
  width: 3183px;
  height: 3183px;
  -webkit-transform: translate(-66%, -15%);
  -moz-transform: translate(-66%, -15%);
  -ms-transform: translate(-66%, -15%);
  transform: translate(-66%, -15%);
  -webkit-animation: animation-n0xfen;
  animation: animation-n0xfen;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  display: block;
}

@keyframes  animation-n0xfen{
  0% {
    -webkit-transform: translate(-66%,-15%);
    -moz-transform: translate(-66%,-15%);
    -ms-transform: translate(-66%,-15%);
    transform: translate(-66%,-15%);
}

50% {
    -webkit-transform: translate(-47%,-15%);
    -moz-transform: translate(-47%,-15%);
    -ms-transform: translate(-47%,-15%);
    transform: translate(-47%,-15%);
}
100% {
    -webkit-transform: translate(-66%,-15%);
    -moz-transform: translate(-66%,-15%);
    -ms-transform: translate(-66%,-15%);
    transform: translate(-66%,-15%);
}
}
